@media only screen and (max-width: 768px) {
  .container {
    /* border: solid 1px pink; */
  }
}

@media only screen and (min-width: 769px) {
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
